.painel-motorista{
    display: flex;
    margin-top: 50px;
    height: 450px;
    padding: 0;
}
.cad-motorista-caixa{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin-left: 25px;
    width: 300px;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
}
.motoristas-caixa{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 5px;
}
ul{
    list-style-type: none; 
    margin: 0;
    padding: 0 !important;
}
