.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodape-texto{
    color: rgb(17, 17, 17);
}
.login{
    display: flex;
    flex-direction: column;
}
.login-caixa{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 530px;
    margin-right: 530px;
    padding: 30px;
    
}
.login-input{
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
.button{
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(179, 179, 196);
}

.rec-senha{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 530px;
    margin-right: 530px;
    padding: 30px;
}
.sobre-caixa{
    display: flex;
    text-align: center;
    background-color: rgb(230, 230, 230);
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: auto;
    padding-right: 25px;
    padding-left: 25px ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.motoristas-caixa{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgb(230, 230, 230);
    padding: 25px;
    width: 50%;
    border-radius: 5px;
}